*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#intro1 {
    font-size: medium;
}

body{
    background: linear-gradient(180deg,#0f0f14,#1a1a25,#2a1f2f);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}

/* Sections */
section{
    padding:80px 20px;
}

/* Hero */
.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.hero h1{
    font-size:3.5em;
    margin-bottom:10px;
}

.date{
    opacity:0.7;
    margin-bottom:25px;
}

.intro{
    max-width:600px;
    margin:10px auto;
    font-size:1.2em;
}

/* Memories */
.memories h2{
    margin-bottom:40px;
    font-size:1.5em;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.gallery img{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:18px;
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.08);
}

/* Letter */
.letter{
    max-width:800px;
    margin:auto;
    line-height:1.8;
    font-size:1.15em;
}

.letter p{
    margin:18px 0;
}

/* Final */
.final h2{
    margin-bottom:25px;
}

button{
    padding:15px 35px;
    font-size:18px;
    background:#ff4d6d;
    border:none;
    border-radius:14px;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#ff2f55;
    transform:scale(1.08);
}

#secretMessage{
    margin-top:40px;
    font-size:1.5em;
    display:none;
    animation:fade 1.2s forwards;
}

@keyframes fade{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}

#shortmessage{
    font-size: small;
}

#hearts-container{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none;
    overflow:hidden;
}

.heart{
    position:absolute;
    bottom:-20px;
    color:#ff4d6d;
    animation:floatUp 4s linear forwards;
    opacity:0.8;
}

@keyframes floatUp{
    0%{
        transform:translateY(0);
        opacity:0.8;
    }
    100%{
        transform:translateY(-110vh);
        opacity:0;
    }
}
